<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Lu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Non lu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Brouillon</a>
      </li>
    </ul>
  </div>
</nav>
