<form>
  <div class="form-group">
    <input type="number" class="form-control" id="id" name="id" placeholder="id" [(ngModel)]="id">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="from" name="from" placeholder="From" [(ngModel)]="from">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="subject" name="subject" placeholder="Objet" [(ngModel)]="subject">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="body" rows="3" name="body" placeholder="Contenu" [(ngModel)]="body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="createMessage()">Envoyer</button>
</form>
