<ul class="list-group">
  <div *ngFor="let message of messages; index as i">
    <li class="list-group-item" *ngIf="i<15">
      <app-message-template  [message]='message'></app-message-template>
    </li>
  </div>
</ul>
