<div class="row">
  <div class="col-12">
    <app-navbar-messagerie></app-navbar-messagerie>
  </div>
</div>

<div class="row">
    <div class="col-6">
      <app-read-message></app-read-message>
    </div>
    <div class="col-6">
      <app-display-messages></app-display-messages>
    </div>
</div>
