<div class="card w-100">
  <div class="card">
    <div class="card-body">
      <small>{{ message.id }}</small>
      <h5 class="card-title">{{ message.from}}</h5>
      <p class="card-text">{{ message.body}}</p>
      <a href="#" class="btn btn-primary">Lire</a>
    </div>
  </div>
</div>
